<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="images/duck.png">

	<title>Kubetoy Stress Test</title>
</head>

<body>
<div class="container">

<h1>Stress Test</h1>
<h6>Pod: <%= pod %></h6>

<p><a href="home">home</a> | 
<% if( filesystem ) { %><a href="files">filesystem</a> | <% } %>
<a href="config">config maps and secrets</a> | <a href="network">network</a> | <a href="hogs">stress</a> | <a href="about.html">about</a></p>


		<div id="dns" class="container"><br>
		
			<p>With this form you can invoke the Linux <a href="https://people.seas.harvard.edu/~apw/stress/" target="_blank">stress</a> command
			 which will, for a specified duration, will stress the container this instance of the app is
			 running in.  
			</p>
			<p>The values for <b>cpu</b>, <b>io</b> and <b>vm</b> represent the number of separate workers that 
			will run the tests (eg. separate processes).  The VM Size argument is the size of the memory (in MB) that 
			the VM workers will grab when performing their tests.  The units of duration are seconds.
			</p>
			<%if( msg.trim()!= "") { %>
				<p style="color: red"><%=msg %></p>
			<% } %>	
			<form method="POST" action="stress">
					<p><b>Workers</b></p>
				<div class="form-group row">
					<div class="form-group col-md-2">
				    	<label for="cpu">CPU</label>
				    	<input type="text" class="form-control" name="cpu" id="cpu" value="<%=cpu%>">
					</div>
					<div class="form-group col-md-2">
				    	<label for="cpu">IO</label>
				    	<input type="text" class="form-control" name="io" id="io" value="<%=io%>">
					</div>
					<div class="form-group col-md-2">
				    	<label for="vm">VM</label>
				    	<input type="text" class="form-control" name="vm" id="vm" value="<%=vm%>">
				    </div>
			  	</div>
			  
				<div class="form-group row">
					<div class="form-group col-md-3">
				    	<label for="vm">VM Size (MB)</label>
				    	<input type="text" class="form-control" name="vmBytes" id="vmBytes" value="<%=vmBytes%>">
					</div>
					<div class="form-group col-md-3">
				    	<label for="vm">Duration (sec)</label>
				    	<input type="text" class="form-control" name="timeout" id="timeout" value="<%=timeout%>">
			  		</div>
			  	</div>
			  
				<div class="form-group row">
					<div class="form-group col-md-3">
						<button type="submit" class="btn btn-primary">Send the piggies to work!</button>
					</div>
				</div>
			</form>

	
		</div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>