<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self';">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/subdomain.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">

    <title>OpenShift Dedicated Demo</title>
</head>
<body>

<div class="container">

    <div class="jumbotron p-4 mb-5 mt-2">
        <div class="container">
            <div class="row mb-4">
                <div class="col-2 ml-auto">
                    <img src="images/<%=logo %>"/>
                </div>
                <div class="col-3 mr-auto">
                    <h1 class="display-4 my-0">Demo</h1>
                </div>
            </div>
        </div>
        <p>A toy application to explore OpenShift deployments.<br>Version: <%=version %></p>
        <hr class="my-2">
        <p>Currently being served up by pod: <%=pod%><br><%=sysInfoStr%></p>
    </div>

    <p class="text-center">
        <%- include('nav.ejs', {page: 'home'}); %>
    </p>

    <hr>

    <div class="row">
        <div class="col-sm">
            <form class="form-inline" method="GET" action="logit">
                <input type="text" class="form-control mb-2 mr-sm-2" name="msg" placeholder="Message for stdout">
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-primary mb-2">Log It!</button>
                </div>
            </form>
            <form class="form-inline" method="GET" action="errit">
                <input type="text" class="form-control mb-2 mr-sm-2" name="msg" placeholder="Message for stderr">
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-danger mb-2">Err It!</button>
                </div>
            </form>
            <form class="form-inline" method="POST" action="crash">
                <input type="text" class="form-control mb-2 mr-sm-2" name="msg" placeholder="Crash message">
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-primary mb-2">Crash Me!</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form class="form-inline" method="POST" action="health">
                <p><%= healthStatus %></p> &nbsp; <button type="submit" id="health" class="btn btn-primary mb-2">Toggle Health</button>
            </form>
            <form class="form-inline" method="GET" action="mutate">
                <button type="submit" class="btn btn-success mb-2">Mutate</button>
            </form>

        </div>
    </div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
