<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script defer src="js/fontawesome-all.js"></script>
	<link rel="icon" type="image/png" href="images/duck.png">

	<title>Kubetoy</title>
</head>
<body>

<div class="container">

	<div class="jumbotron">
		<div class="container">
		  <div class="row">
		    <div class="col-1">
	  			<img src="images/<%=duckImage %>"/>
		    </div>
		    <div class="col-11">
	  			<h1 class="display-4">Kubetoy</h1>
		    </div>
		  </div>
		</div>
	  <p class="lead">A kubernetes toy application to explore kuberenetes deployments.</p>
	  <p><%=version %></p>
	  <hr class="my-4">
	  <p>Currently being served up by pod: <%=pod%> <br/>
	  <%=sysInfoStr%> </p>
	</div>
	
<p>
    <a href="home">home</a> | 
        <% if( filesystem ) { %><a href="files">filesystem</a> | <% } %> 
        <a href="config">config maps and secrets</a> | 
        <a href="about.html">about</a>
</p>
<hr/>

<div class="row">
	<div class="col-md-4">
			<form class="form-inline" method="GET" action="logit">
				<input type="text" class="form-control mb-2 mr-sm-2" name="msg" placeholder="Message for stdout">
					<div class="input-group-prepend">
						<button type="submit" class="btn btn-primary mb-2">Log It!</button>			  
					</div>
			</form>
			<form class="form-inline" method="GET" action="errit">
				<input type="text" class="form-control mb-2 mr-sm-2" name="msg" placeholder="Message for stderr">
					<div class="input-group-prepend">
						<button type="submit" class="btn btn-danger mb-2">Err It!</button>
					</div>
			</form>
			<form class="form-inline" method="POST" action="crash">
				<input type="text" class="form-control mb-2 mr-sm-2" name="msg" placeholder="Crash message">
						<div class="input-group-prepend">
							<button type="submit" class="btn btn-primary mb-2">Crash Me!</button>
						</div>
			</form>
		</div>
	<div class="col-md-3">
		<form class="form-inline" method="POST" action="health">
			<p>
				<button type="submit" id="health" class="btn btn-primary mb-2">Toggle Health</button> 
				(<%= healthStatus %>)
			</p>
		</form>
		<form class="form-inline" method="GET" action="mutate">
			<button type="submit" class="btn btn-success mb-2">Mutate</button>
		</form>
	</div>
	<div class="col-md-5">
        <form method="POST" action="stress">
            <div class="form-row">
                <p>Linux <a href="https://linux.die.net/man/1/stress" target="_blank">stress</a></p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="cpu">CPU workers</label>
                    <input type="text" class="form-control" name="cpu" id="cpu" value="8">
                </div>
                <div class="form-group col-md-3">
                    <label for="io">IO workers</label>
                    <input type="text" class="form-control" name="io" id="io" value="4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="vm">VM workers</label>
                    <input type="text" class="form-control" name="vm" id="vm" value="2">
                </div>
                <div class="form-group col-md-4">
                    <label for="vmb">VM Bytes</label>
                    <input type="text" class="form-control" name="vmb" id="vmb" value="1G">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="timeout">Timeout</label>
                    <input type="text" class="form-control" name="timeout" id="timeout" value="30s">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Stress Test</button>
        </form>

	</div>


</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
