<%- include('templates/header.ejs'); %>

<%- include('templates/nav.ejs', {page: 'network'}); %>

<div class="blank-slate-pf container-pf-nav-pf-vertical">
	<h1>
		<span class="pficon pficon-network small"></span>
		Networking
	</h1>

	<div class="row">
		<p class="col-lg-6 mb-5">
			OpenShift Pods can send data back and forth without relying on any external network
			connections. Typically, Pod communication should happen through an
			<a href="https://docs.openshift.com/container-platform/3.11/architecture/core_concepts/pods_and_services.html#services" target="_blank">
				OpenShift Service <span class="fa fa-external-link-alt small"></span>
			</a>. Services allow for load balancing connections to multiple backing pods,
			while also providing a persistent and consistent endpoint, whereas Pod endpoint IPs
			are ephemeral.
		</p>
	</div>

	<div class="row row-cards-pf">
		<div class="col-lg-6 microservice hide">
			<div class="card-pf card-pf-view">
				<div class="card-pf-body">
					<div class="row">
						<div class="col-xs-7">
							<h2 class="card-pf-title mb-3">
								<span class="fa fa-satellite-dish"></span>
								Intra-cluster Communication
							</h2>
							<p>
								This list of <em>Remote Pods</em> increases or decreases dynamically based on the number
								of microservice Pods running. You can
								<a href="https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/basic_deployment_operations.html#scaling" target="_blank">
									manually scale <span class="fa fa-external-link-alt small"></span>
								</a> the number of pods from the CLI or within the web console.
							</p>
						</div>
						<div class="col-xs-5">
							<h2 class="card-pf-title mb-3">
								Remote Pods
							</h2>
							<ul id="cluster-pods"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="card-pf card-pf-view">
				<div class="card-pf-body">
					<h2 class="card-pf-title mb-3">
						<span class="pficon pficon-server"></span>
						Hostname Lookup
					</h2>
					<div class="row">
						<div class="col-xs-7 col-lg-8">
							<p>
								ClusterIP and NodePort services can be discovered through
								<a href="https://docs.openshift.com/container-platform/3.11/architecture/networking/networking.html#architecture-additional-concepts-openshift-dns" target="_blank">
									OpenShift DNS <span class="fa fa-external-link-alt small"></span>
								</a> by using a hostname in the form of <code style="overflow-wrap: break-word;">my-svc.my-namespace.svc.cluster.local</code>.
								The DNS response will be the internal ClusterIP address.
							</p>
						</div>
						<div class="col-xs-5 col-lg-4 text-right">
							<form method="POST" action="/network">
								<div class="form-group">
									<label for="dnsHost">Hostname</label>
									<input type="text" class="form-control" name="dnsHost" id="dnsHost" aria-describedby="dnsHelp" placeholder="Hostname" value="<%= locals.dnsHost %>">
									<small id="dnsHelp" class="form-text text-muted">The internal host name to look up.</small>
								</div>
								<button type="submit" class="btn btn-primary">DNS Lookup</button>
							</form>
							<% if (locals.dnsResponse !== undefined && dnsResponse) { %>
							<pre><%= dnsResponse %></pre>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!-- /container -->

<%- include('templates/footer.ejs', {excludeClosingTags: true}); %>

<script type="text/javascript">
$(document).ready(function() {
	updateColors();
});

function updateColors() {
	var clusterPods = $('#cluster-pods'),
		podItems = clusterPods.find('li');

	$.get('/network/colors?timestamp=' + $.now(), function(data) {
		if (data !== undefined && data.hasOwnProperty('pod') && data.hasOwnProperty('color')) {
			var li = $('#' + data.pod);
			if (li.length > 0) {
				// update
				li.replaceWith('<li id="' + data.pod + '" data-timestamp="' + $.now() + '"><div style="padding: 10px; background-color: ' + data.color + '">' + data.pod + '</div></li>');
			} else {
				// create
				clusterPods.append('<li id="' + data.pod + '" data-timestamp="' + $.now() + '"><div style="padding: 10px; background-color: ' + data.color + '">' + data.pod + '</div></li>');
			}
		}
	});

	if (podItems.length === 0) {
		clusterPods.parents('div.microservice').addClass('hide');
	} else {
		clusterPods.parents('div.microservice').removeClass('hide');
		// matchHeight the contents of each .card-pf and then the .card-pf itself
		$(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
		$(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
		$(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
		$(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
		clusterPods.find('li').each(function () {
			var currLi = $(this);
			// Remove <li> elements older than 10 seconds
			if (Date.now() - new Date(currLi.data('timestamp')) >= 10000) {
				currLi.remove();
			}
		});
	}

	setTimeout(updateColors, 500);
}
</script>

</body>
</html>
