<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="images/duck.png">

	<title>Kubetoy Network</title>
</head>

<body>
<div class="container">

<h1>Network</h1>
<h6>Pod: <%= pod %></h6>

	<p class="text-center">
		<%- include('nav.ejs', {page: 'network'}); %>
	</p>

	<hr>

	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link <%= dnsActive %>" data-toggle="tab" href="#dns">DNS</a></li>
		<li class="nav-item"><a class="nav-link <%= pingActive %>" data-toggle="tab" href="#ping">Ping</a></li>
	</ul>
	
	<div class="tab-content">
		<div id="dns" class="container tab-pane <%= dnsActive %>"><br>
		
			<p>This form you to perform a local DNS lookup (from the container in the pod).  </p>
			<p>ClusterIP and NodePort services can be discovered by using a host name of the form
			<code>my-svc.my-namespace.svc.cluster.local</code>.  The DNS response will be the
			internal ClusterIP address.
			</p>
	
			<form method="POST" action="dns">
			  <div class="form-group">
			    <label for="pingHost">Host</label>
			    <input type="text" class="form-control" name="dnsHost" id="dnsHost" aria-describedby="dnsHelp" placeholder="host to lookup" value="<%= dnsHost%>">
			    <small id="dnsHelp" class="form-text text-muted">The internal host name to look up.</small>
			  </div>
			  <button type="submit" class="btn btn-primary">DNS Lookup</button>
			
			</form>
		
			<pre><%= dnsResponse %></pre>
	
		</div>

		<div id="ping" class="container tab-pane <%= pingActive %>"><br>

			<p>You to can issue a ping from this application (running in the container in Kubernetes) to an external server.  Pings to internal
			services will time out (unless the app was explicitly developed to accept pings).
			</p>
	
			<form method="POST" action="ping">
			  <div class="form-group">
			    <label for="pingHost">Hostname/IP</label>
			    <input type="text" class="form-control" name="pingHost" id="pingHost" aria-describedby="pingHelp" placeholder="host to ping" value="<%= pingHost %>">
			    <small id="pingHelp" class="form-text text-muted">The external host to ping.</small>
			  </div>
			  <button type="submit" class="btn btn-primary">Ping</button>
			
			</form>
		
			<pre><%= pingResponse %></pre>
		
		</div>

	</div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
