<%- include('templates/header.ejs', {refresh: 10}); %>

<%- include('templates/nav.ejs', {disableSidenav: true}); %>

<div class="blank-slate-pf">
    <div class="blank-slate-pf-icon">
        <span class="fa fa-skull-crossbones"></span>
    </div>
    <h1>
        He's dead Jim! <small><%= locals.msg %></small>
    </h1>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p>
                You've requested that we restart your pod. At this very moment the pod
                is being terminated and a new pod is being generated. You should recognize
                a new pod name replaces <code><%= pod %></code> in the upper left of the page.
            </p>
            <p>
                Click <a href="/home">here</a> if this page doesn't automatically redirect
                within 10 seconds.
            </p>
        </div>
    </div>
</div>

<%- include('templates/footer.ejs'); %>


